/* appointment css */
/* appointment area style  */
.appointment-area {
    position: relative;
    z-index: 1;

    margin-top: 17px;
}

.appointment-area-inner {
    position: relative;
    padding-top: 11px;
    padding-bottom: 22px;

    @media #{$lg} {
        padding-bottom: 0;
    }
}

.appointment-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.appointment-content {
    max-width: 680px;

    .title-wrapper {
        margin-top: 19px;
    }
}

.appointment-contact-wrap {
    margin-top: 49px;

    .submit-btn {
        margin-top: 30px;
    }
}

.appointment-formwrap {
    display: grid;
    gap: 20px 24px;
    grid-template-columns: repeat(2, 1fr);

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }

    .span-2 {
        grid-column: span 2;

        @media #{$sm} {
            grid-column: auto;
        }
    }

}

.appointment-formfield {
    background-color: var(--white);
    padding: 0 30px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    input {
        width: 100%;
        height: 60px;
        border: none;
        outline: none;
        color: var(--black);
        transition: all 0.5s;
        font-size: 16px;

        &:focus {
            background-color: var(--white);
        }

        &::placeholder {
            color: var(--black);
        }

    }

    i {
        font-size: 16px;
        color: var(--black);
    }

    select {
        width: 100%;
        height: 60px;
        border: none;
        outline: none;
        color: var(--black);
        transition: all 0.5s;
        font-size: 16px;

        &:focus {
            background-color: var(--white);
        }

        &::placeholder {
            color: var(--black);
        }

    }

    .nice-select {
        height: 60px;
        width: 100%;
        padding: 0;
        border: 0;


        .current {
            height: 60px;
            line-height: 60px;
            display: block;
            font-size: 16px;
            color: var(--black);
        }

        .option {
            height: 40px;
            line-height: 40px;
            display: block;
            font-size: 16px;
            color: var(--black);
        }

        &:after {
            display: none;
        }
    }
}

.appointment-thumb-wrappper {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 840px;
    aspect-ratio: 100/86;
    overflow: hidden;
    right: -205px;
    bottom: 0;

    @media #{$xl} {
        right: -165px;
    }

    @media #{$lg} {
        position: static;
    }
}

.appointment-thumb-1 {
    position: absolute;
    content: "";
    width: 34%;
    aspect-ratio: 100 / 100;
    background-color: var(--theme);
    border-radius: 30px;
    left: 18%;
    bottom: 104px;
    animation: appointment-thumb-1 5s infinite;
}

@keyframes appointment-thumb-1 {
    0% {
        transform: translateY(0) rotate(-45deg);
    }

    50% {
        transform: translateY(50px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.appointment-thumb-2 {
    position: absolute;
    width: 50%;
    bottom: 80px;
    right: 0;
}

.appointment-thumb-3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 92%;
}


/* appointment-2 area style  */
.appointment-2-area-inner {
    display: grid;
    gap: 40px 40px;
    grid-template-columns: 1fr 680px;
    align-items: flex-start;

    @media #{$lg} {
        grid-template-columns: 1fr 480px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }
}

.appointment-2-content {
    .title-wrapper {
        margin-top: 19px;
    }

    .text-wrapper {
        margin-top: 22px;
    }

    .features-wrapper-box {
        margin-top: 43px;
    }

    .feature-box {
        background-color: #F3F2F8;
        border-radius: 15px;
        padding: 25px 30px 24px;
        display: flex;
        gap: 20px;
        border: 1px solid transparent;
        transition: all 0.5s;

        @media #{$lg} {
            padding: 15px 20px 14px;
        }

        @media #{$xs} {
            flex-direction: column;
        }

        &:hover {
            border-color: var(--theme);
            background-color: var(--white);

            .icon {
                background-color: var(--theme);
                border-color: transparent;

                img {
                    filter: invert(0) brightness(10) contrast(10);
                }
            }
        }

        &:not(:first-child) {
            margin-top: 30px;
        }

        .icon {
            width: 80px;
            min-width: 80px;
            height: 80px;
            border: 1px solid var(--theme);
            border-radius: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--white);
            margin-top: 5px;
            transition: all 0.5s;

            @media #{$lg} {
                width: 70px;
                min-width: 70px;
                height: 70px;
                padding: 15px;
            }
        }

        .title {
            font-family: var(--font_inter);
            font-weight: 700;
            font-size: 24px;
            line-height: 1.21;

            @media #{$lg} {
                font-size: 20px;
            }
        }

        .text {
            margin-top: 10px;
        }
    }
}

.appointment-2-contact-wrap {

    form {
        position: relative;
        z-index: 1;
        border-radius: 0 20px 20px 20px;
        overflow: hidden;
        padding: 40px 40px;

        @media #{$lg} {
            padding: 20px 20px;
        }

        @media #{$xs} {
            border-radius: 0 0 20px 20px;

        }

        .submit-btn {
            margin-top: 30px;
        }

        .rr-btn {
            padding: 21px 34px;
            width: 100%;
            border-radius: 5px;
        }
    }

    .form-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(4, 11, 51, 0.94);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .contact-title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 30px;
        line-height: 1.2;
        background-color: var(--theme);
        color: var(--white);
        padding: 17px 49px 17px 40px;
        display: inline-block;
        border-radius: 20px 20px 0 0;
        position: relative;

        @media #{$lg} {
            padding: 12px 29px 12px 20px;
            font-size: 24px;
        }

        @media #{$xs} {
            width: 100%;
        }

        &:after {
            position: absolute;
            content: "";
            width: 40px;
            height: calc(100% - 6px);
            background-color: var(--theme);
            left: calc(100% - 5px);
            bottom: 0px;
            clip-path: polygon(0 0, 100% 100%, 0 100%);

            @media #{$xs} {
                display: none;
            }
        }
    }

}

.appointment-2-formwrap {
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(2, 1fr);

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }

    .span-2 {
        grid-column: span 2;

        @media #{$sm} {
            grid-column: auto;
        }
    }

}

.appointment-2-formfield {

    input,
    textarea {
        width: 100%;
        height: 55px;
        outline: none;
        background: rgba(18, 26, 70, 0.06);
        border: 1px solid #2E3668;
        border-radius: 5px;
        padding: 18px 20px;
        color: var(--white);
        transition: all 0.5s;
        font-size: 16px;
        line-height: 19px;

        &:focus {
            background: rgba(18, 26, 70, 0.06);
        }

        &::placeholder {
            color: var(--white);
        }

    }

    textarea {
        height: 123px;
        resize: none;
    }

}