/* brand css */
/* brand area style  */
.brand-header {
    .text-wrapper {
        margin-top: -5px;
    }

    .text {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: var(--black);
    }
}

.brands-wrapper-box {
    margin-top: 35px;
}



.brand-slider-active {
    margin: -40px 0;
    padding: 40px 0;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.brand-box {
    border: 1px solid var(--border);
    border-radius: 10px;
    width: 268px;
    height: 100px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media #{$lg} {
        width: 198px;
        height: 80px;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 0px 11px 38px 0px rgba(25, 14, 50, 0.17);
    }
}

/* brand-2 area style  */
.brand-2-area-inner {
    border: 1px solid var(--theme);
    border-radius: 30px;
    background-color: #EBEDF5;
    padding: 100px;

    @media #{$xxl} {
        padding: 70px;
    }

    @media #{$lg} {
        padding: 40px;
    }

    @media #{$sm} {
        padding: 20px;
    }
}



.brand-2-header {
    display: grid;
    gap: 30px 60px;
    grid-template-columns: 1fr auto;
    align-items: flex-end;

    @media #{$sm} {
        grid-template-columns: 1fr;

    }

    .title-wrapper {
        margin-top: 19px;
    }

    .btn-wrapper {
        margin-bottom: 12px;
    }
}

.brands-2-wrapper-box {
    margin-top: 59px;
}

.brands-2-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        gap: 10px;

    }

    @media #{$sm} {
        grid-template-columns: repeat(3, 1fr);

    }

    @media #{$xs} {
        grid-template-columns: repeat(2, 1fr);
    }
}

.brand-2-box {
    height: 100px;
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media #{$lg} {
        height: 80px;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 0px 11px 38px 0px rgba(25, 14, 50, 0.17);
    }
}

/* brand-3 area style  */
.brand-3-area {
    position: relative;
    z-index: 1;
    margin: 0 30px;
    border-radius: 15px;
    overflow: hidden;

    @media #{$lg} {
        margin: 0 15px;
    }
}

.brand-3-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.brand-3-area-inner {
    padding: 80px 0;

    @media #{$xxl} {
        padding: 60px 0;
    }

    @media #{$lg} {
        padding: 40px 0;
    }
}

.brand-3-slider-active {
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

/* brand-4 area style  */
.brands-4-wrapper-box {
    margin-top: 103px;
    display: grid;
    margin-left: 33.33%;
    grid-template-columns: 1600px;

    @media #{$xxl} {
        margin-top: 90px;
    }

    @media #{$xl} {
        margin-top: 80px;
    }

    @media #{$lg} {
        margin-top: 60px;
        margin-left: 0;
        grid-template-columns: 100%;
    }
}

.brands-4-wrapper {
    padding: 53px 43px 15px;
    background-color: var(--white);
    position: relative;
    border-radius: 100px 0 0 0;

    @media #{$lg} {
        border-radius: 0;
        padding: 53px 0px 15px;
        margin-left: -15px;
        margin-right: -15px;
    }


    &:before {
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        background-color: transparent;
        right: calc(100% - 2px);
        bottom: 0;
        border-radius: 100px;
        box-shadow: 100px 100px var(--white);

        @media #{$lg} {
            display: none;
        }
    }
}

.brand-4-slider-active {
    margin: -40px 0;
    padding: 40px 0;

    .swiper-wrapper {
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
}

.brand-4-box {
    border: 1px solid var(--border);
    border-radius: 100px;
    width: 250px;
    height: 108px;
    background-color: var(--white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    @media #{$lg} {
        width: 198px;
        height: 80px;
    }

    &:hover {
        border-color: transparent;
        box-shadow: 0px 11px 38px 0px rgba(25, 14, 50, 0.17);
    }
}