/* counter css */
/* counter area style  */
.counter-wrapper-box {
    margin-top: -65px;
    position: relative;
    z-index: 1;

    @media #{$xxl} {
        margin-top: -60px;
    }
}

.counter-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$lg} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }

}

.counter-box {
    border: 1px solid #EBECF5;
    border-radius: 20px;
    padding: 35px 40px 36px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: var(--white);

    @media #{$xxl} {
        padding: 30px 30px 31px;
    }

    @media #{$xs} {
        padding: 20px 20px 21px;
    }

    .icon {
        width: 54px;
        min-width: 54px;
        margin-top: 5px;

        @media #{$xs} {
            width: 44px;
            min-width: 44px;
        }
    }

    .title {
        font-family: var(--font_generalsansmedium);
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: var(--black);
        display: inline-block;
        display: flex;
        gap: 7px;
        align-items: flex-end;
    }

    .number {
        font-family: var(--font_generalsanssemibold);
        font-weight: 600;
        font-size: 40px;
        line-height: 29px;
        display: inline-block;
    }

    .text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-top: 7px;
    }

}

/* counter-2 area style  */
.counter-2-area {
    position: relative;
    z-index: 1;
}

.counter-2-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(17, 0, 58, 0.73);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.counter-2-wrapper {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    padding: 0 30px;

    @media #{$lg} {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 0;
    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }

    >* {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            top: 0;
            left: -80px;

            @media #{$lg} {
                display: none;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

}

.counter-2-box {
    padding: 76px 0 78px;
    display: flex;
    gap: 15px;
    align-items: flex-start;

    @media #{$xxl} {
        padding: 56px 0 58px;

    }

    @media #{$lg} {
        padding: 0;
        justify-content: center;
    }


    .icon {
        margin-top: 9px;


        img {
            height: 60px;
        }
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 44px;
        line-height: 1;
        color: var(--white);
        display: inline-block;

        @media #{$xxl} {
            font-size: 40px;
        }

        .odometer.odometer-auto-theme,
        .odometer.odometer-theme-default {
            font-family: inherit;
            line-height: inherit;
        }
    }


    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: var(--white);
        margin-top: 2px;
    }

}

/* counter-3 area style  */
.counter-3-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .section-title {
        max-width: 625px;
        margin-inline: auto;
    }
}


.counter-3-wrapper-box {
    margin-top: 59px;
}

.counter-3-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.counter-3-box {
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--white);
    padding: 142px 50px 50px;
    position: relative;
    transition: all 0.5s;

    @media #{$lg} {
        padding: 102px 20px 30px;
    }

    &:hover {
        border-color: var(--theme);

        .icon {
            background-color: var(--theme);
            border-color: var(--theme);

            img {
                filter: invert(0) brightness(10) contrast(10);
            }
        }
    }

    .icon {
        width: 100px;
        height: 100px;
        background-color: var(--white);
        border: 1px solid var(--border);
        border-radius: 10px 0 10px 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        position: absolute;
        top: -1px;
        left: -1px;
        transition: all 0.5s;

        @media #{$lg} {
            width: 80px;
            height: 80px;
        }

        img {
            height: 50px;


            @media #{$lg} {
                height: 40px;
            }
        }
    }

    .title {
        font-family: var(--font-inter);
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        color: var(--black);

        @media #{$lg} {
            font-size: 30px;
        }
    }

    .text {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin-top: 5px;
    }
}