/* feature css */
/* feature-1 area style  */
.feature-1-area-inner {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 540px 680px;
    justify-content: space-between;

    @media #{$lg} {
        grid-template-columns: 420px 500px;
    }

    @media #{$md} {
        grid-template-columns: auto;
    }
}

.feature-1-content {
    .title-wrapper {
        margin-top: 19px;
    }

    .text-wrapper {
        margin-top: 32px;
    }

    .btn-wrapper {
        margin-top: 33px;
    }
}



.feature-1-box {
    border: 1px solid var(--border);
    background-color: var(--white);
    border-radius: 15px;
    padding: 40px 40px;
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    overflow: hidden;

    @media #{$lg} {
        padding: 20px 20px;
        display: flex;
        gap: 20px;
    }


    &:hover {
        box-shadow: 0px 18px 66px 3px rgba(107, 111, 118, 0.15);

        &:before {
            left: -52px;
            top: -76px;
            opacity: 1;
        }

        .icon {
            background-color: var(--theme);

            img {
                filter: invert(0) brightness(10) contrast(10);
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 145px;
        height: 145px;
        left: -152px;
        top: -176px;
        background: #6421FF;
        filter: blur(60px);
        z-index: -1;
        opacity: 0;
        transition: all 0.5s;

        @media #{$lg} {
            width: 115px;
            height: 115px;
        }
    }

    &:not(:first-child) {
        margin-top: 25px;
    }

    .icon {
        width: 100px;
        min-width: 100px;
        height: 100px;
        background-color: #EFF0FF;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        @media #{$lg} {
            width: 70px;
            min-width: 70px;
            height: 70px;
            padding: 20px;
        }
    }

    .content {
        margin-top: 6px;

        @media #{$lg} {
            margin-top: 0;
        }
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.21;

        @media #{$lg} {
            font-size: 20px;
        }
    }


    .text {
        margin-top: 9px;
    }


}

/* feature-2 area style  */
.feature-2-area {
    position: relative;
    z-index: 1;
}

.feature-2-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #20143C;
        opacity: 0.77;
        z-index: 1;
    }

    img {
        width: 100%;
        height: 104%;
        object-fit: cover;
    }
}

.feature-2-content {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .section-title {
        color: var(--white);
    }
}

.feature-2-wrapper-box {
    margin-top: 59px;
}

.feature-2-wrapper {
    display: grid;
    gap: 25px 24px;
    grid-template-columns: repeat(2, 1fr);

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}


.feature-2-box {
    border: 1px solid var(--border);
    background-color: var(--white);
    border-radius: 20px;
    padding: 40px 40px;
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
    overflow: hidden;

    @media #{$lg} {
        padding: 20px 20px;
        gap: 20px;
    }

    @media #{$xs} {
        flex-direction: column;
    }


    &:hover {
        box-shadow: 0px 18px 66px 3px rgba(107, 111, 118, 0.15);

        &:before {
            left: -52px;
            top: -76px;
            opacity: 1;
        }

        .icon {
            background-color: var(--theme);

            img {
                filter: invert(0) brightness(10) contrast(10);
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 145px;
        height: 145px;
        left: -152px;
        top: -176px;
        background: #6421FF;
        filter: blur(60px);
        z-index: -1;
        opacity: 0;
        transition: all 0.5s;

        @media #{$lg} {
            width: 115px;
            height: 115px;
        }
    }

    .icon {
        width: 100px;
        min-width: 100px;
        height: 100px;
        background-color: #EFF0FF;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        @media #{$lg} {
            width: 70px;
            min-width: 70px;
            height: 70px;
            padding: 20px;
        }

    }

    .content {
        margin-top: 6px;

        @media #{$lg} {
            margin-top: 0;
        }
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.21;

        @media #{$lg} {
            font-size: 20px;
        }
    }


    .text {
        margin-top: 9px;
    }
}

/* feature-3 area style  */
.feature-3-area-inner {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: auto 700px;
    align-items: center;

    @media #{$lg} {
        grid-template-columns: auto 525px;
    }

    @media #{$md} {
        grid-template-columns: auto;
    }
}

.feature-3-thumb-wrapper {
    width: 100%;
    max-width: 620px;
    aspect-ratio: 100/87;
    position: relative;
}

.feature-3-thumb-1 {
    width: 67%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.feature-3-thumb-2 {
    width: 47%;
    height: 66%;
    border: 5px solid var(--white);
    border-radius: 40px;
    position: absolute;
    right: 15px;
    overflow: hidden;
    top: 22%;
    transform: rotate(5deg);
    box-shadow: 0px 18px 66px 0px rgba(107, 111, 118, 0.15);


    @media #{$lg} {
        border-width: 3px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.feature-3-content {
    .title-wrapper {
        margin-top: 19px;
    }

    .text-wrapper {
        margin-top: 28px;
    }

    .feature-list {
        margin-top: 23px;
        display: flex;
        gap: 20px 48px;
        align-items: center;
        flex-wrap: wrap;

        ul {
            display: inline-block;
        }

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 34px;
            display: flex;
            gap: 15px;
            align-items: flex-start;

            i {
                color: var(--theme);
                margin-top: 9px;
            }
        }
    }


    .cta-box {
        display: flex;
        gap: 30px;
        align-items: center;

        @media #{$lg} {
            gap: 20px;
        }

        .icon {
            width: 77px;
            min-width: 77px;
            height: 77px;
            background-color: #F0EDF8;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media #{$lg} {
                width: 67px;
                min-width: 67px;
                height: 67px;
            }

            &.rr-bg-white {
                background-color: var(--white);
            }
        }

        .number {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.12;
            color: var(--black);

            @media #{$lg} {
                font-size: 20px;
            }

            a:hover {
                color: var(--black-2);
            }
        }

        .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            color: var(--theme);
            margin-top: 10px;
        }
    }

    .btn-wrapper {
        margin-top: 29px;
        border-top: 1px solid var(--border);
        padding-top: 40px;
    }


}