/* newsletter css */
/* newsletter area style  */
.newsletter-area {
    position: relative;
    z-index: 1;
    margin: 0 30px;
    border-radius: 15px;
    overflow: hidden;

    @media #{$lg} {
        margin: 0 15px;
    }
}

.newsletter-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.newsletter-content {
    text-align: center;

    .title-wrapper {
        margin-top: -12px;
    }

    .section-title {
        color: var(--white);
        max-width: 530px;
        margin-inline: auto;
    }

    .text-wrapper {
        margin-top: 16px;
    }

    .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.55;
        color: var(--white);
        max-width: 710px;
        margin-inline: auto;
    }

    .newsletter-box-form {
        margin-top: 33px;
    }

    .demo-box-form {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .input-field {
            background-color: var(--white);
            border-radius: 10px;
            padding: 13px 20px;
            display: flex;
            gap: 5px;
            align-items: center;
            width: 100%;
            max-width: 260px;


            i {
                color: var(--theme);
            }

            input {
                border: none;
                outline: none;
                padding: 0;
                margin: 0;
                color: var(--black);
                font-size: 16px;
                line-height: 19px;
                width: 100%;
            }
        }

        .rr-btn {
            border-radius: 10px;
            padding: 14px 24px;
            font-weight: 500;
            text-transform: unset;

            i {
                transform: rotate(-45deg);
            }
        }
    }
}