/* pricing css */
/* pricing area style  */
.pricing-area {
    position: relative;
    z-index: 1;
}

.pricing-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EBEBF5;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pricing-area-inner {
    position: relative;

    .area-shape-1 {
        position: absolute;
        left: calc(100% + 61px);
        width: max-content;
        top: 217px;

        img {
            animation: t-SlideBottom 5s infinite;
        }
    }

    .area-shape-2 {
        position: absolute;
        left: calc(100% + 158px);
        width: max-content;
        top: 103px;
    }
}

.pricing-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.pricing-wrapper-box {
    margin-top: 59px;
}

.pricing-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.price-box {
    background-color: var(--white);
    border-radius: 20px;
    padding: 80px 40px 40px;
    text-align: center;
    position: relative;
    overflow: hidden;

    @media #{$lg} {
        padding: 70px 15px 30px;
    }

    &.bordered {
        border: 1px solid var(--border);
    }

    &.standard {
        position: relative;
        z-index: 1;

        .area-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .icon {
            background-color: var(--white);
            border-color: transparent;
        }

        .package-name {
            color: var(--white);
        }

        .price {
            color: var(--white);
        }

        .text {
            color: var(--white);
        }

        .pack-limit {
            background-color: #FFFFFF;
            border-color: #F1EDF6;
        }

        .feature-list {
            li {
                color: var(--white);
            }
        }

        .rr-btn {
            background-color: var(--white);
            border-color: var(--white);


            &:before {
                background-color: var(--theme);
            }

            &:hover {
                .text-two {
                    color: var(--white);
                }
            }

            .text-one {
                color: var(--theme);
            }
        }
    }


    .package-tag {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: var(--white);
        text-transform: uppercase;
        display: inline-block;
        padding: 8px 33px;
        background-color: var(--theme);
        border-radius: 0 0 15px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

    .icon {
        width: 100px;
        height: 100px;
        border: 1px solid #EAE3F5;
        padding: 22px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;

        @media #{$lg} {
            width: 80px;
            height: 80px;
        }
    }

    .package-name {
        font-weight: 600;
        font-size: 22px;
        line-height: 1.23;
        color: var(--black);
        margin-top: 34px;

        @media #{$lg} {
            font-size: 20px;
        }
    }

    .price {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        color: var(--black);
        margin-top: 7px;

        .value {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.21;

            @media #{$lg} {
                font-size: 40px;
            }
        }
    }


    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 14px;
    }

    .pack-limit {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.65);
        border: 1px solid #E5E5E5;
        box-shadow: inset 0px 4px 8px 1px rgba(92, 52, 152, 0.33);
        backdrop-filter: blur(40px);
        border-radius: 100px;
        padding: 8px 23px;
        color: var(--black);
        margin-top: 26px;
    }

    .btn-wrapper {
        margin-top: 28px;
    }

    .rr-btn {
        width: 100%;
    }

    .feature-list {
        text-align: start;
        margin-top: 37px;

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 36px;
            list-style: none;
            display: flex;
            align-items: flex-start;

            &:before {
                content: "";
                display: inline-block;
                width: 5px;
                min-width: 5px;
                height: 5px;
                background-color: currentColor;
                border-radius: 50%;
                margin: 15px 9px;
            }
        }
    }
}