/* process css */
/* process area style  */
.process-area {
    position: relative;
    z-index: 1;
}


.process-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.process-wrapper-box {
    margin-top: 56px;
}

.process-wrapper {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    max-width: 1250px;
    margin-inline: auto;



    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.process-box {
    text-align: center;
    max-width: 365px;
    position: relative;

    @media #{$sm} {
        max-width: 100%;
    }

    .thumb {
        img {
            width: 177px;

            @media #{$lg} {
                width: 127px;
            }
        }
    }

    .content {
        margin-top: 33px;
    }

    .title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;

        @media #{$lg} {
            font-size: 20px;
        }
    }

    .text {
        margin-top: 11px;
    }

    .shape-start {
        position: absolute;
        width: 143px;
        top: 64px;
        left: -105px;

        @media #{$lg} {
            width: 103px;
            left: -80px;
            top: 44px;
        }

        @media #{$md} {
            display: none;
        }
    }

    .shape-end {
        position: absolute;
        width: 143px;
        top: 64px;
        right: -125px;

        @media #{$lg} {
            width: 103px;
            right: -80px;
            top: 44px;
        }

        @media #{$md} {
            display: none;
        }
    }
}

/* process-2 area style  */
.process-2-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.process-2-wrapper-box {
    margin-top: 59px;

    @media #{$xxl} {
        margin-top: 49px;

    }

    @media #{$lg} {
        margin-top: 39px;

    }
}

.process-2-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);

    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);

    }
}

.process-2-box {
    border: 1px solid var(--border);
    border-radius: 10px;
    background: var(--white);
    padding: 30px 30px;

    @media #{$lg} {
        padding: 20px 15px;
    }

    .number {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        color: var(--theme);
        padding: 8px 20px;
        display: inline-block;
        border: 1px solid var(--border);
        border-radius: 30px;
    }

    .content {
        margin-top: 18px;
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.45;

        @media #{$lg} {
            font-size: 20px;
        }
    }

    .thumb {
        margin-top: 24px;
        border-radius: 10px;
        overflow: hidden;

        @media #{$lg} {
            margin-top: 14px;
        }

        img {
            width: 100%;
        }
    }

    .btn-wrapper {
        margin-top: 30px;

        @media #{$lg} {
            margin-top: 20px;
        }
    }

    .rr-btn {
        padding: 16px 29px;
        background-color: var(--white);
        border-color: var(--border);

        &:hover {
            border-color: transparent;

            .text-two {
                color: var(--white);
            }
        }

        &:before {
            background-color: var(--theme);
        }

        .text-one {
            color: var(--theme);
        }
    }
}

/* process-3 area style  */
.process-3-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .section-title {
        max-width: 730px;
        margin-inline: auto;
    }
}

.process-3-wrapper-box {
    margin-top: 59px;
}

.process-3-wrapper {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);

    }
}


.process-3-box {
    background-color: var(--white);
    border-radius: 15px;
    padding: 54px 60px 53px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: grid;
    gap: 20px 40px;
    grid-template-columns: 115px 1fr;

    @media #{$lg} {
        padding: 24px 20px 23px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    &:before {
        position: absolute;
        content: "";
        width: 297px;
        height: 297px;
        left: -114px;
        top: -173px;
        background: var(--theme);
        filter: blur(100px);
        z-index: -1;

    }

    .number-box {
        position: relative;
    }

    .number {
        font-family: var(--font_inter);
        font-weight: 800;
        font-size: 180px;
        line-height: 1;
        color: var(--white);
        position: absolute;
        left: -104px;
        top: 23px;
        z-index: -1;

        @media #{$lg} {
            font-size: 130px;
            left: -54px;
        }

        @media #{$md} {
            position: static;
            font-size: 70px;
            font-weight: 700;
        }
    }


    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.21;

        @media #{$lg} {
            font-size: 20px;
        }
    }


    .text {
        margin-top: 12px;
    }
}