/* project css */
/* project area style  */
.project-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.project-wrapper-box {
    margin-top: 55px;

    .project-tab {

        .nav-tabs {
            justify-content: center;
            gap: 10px 40px;
            border: none;
        }

        .nav-link {
            padding: 0;
            border: none;

            &.active {
                .tab-btn {
                    border-color: var(--primary);
                }
            }
        }

        .tab-btn {
            font-family: var(--font_inter);
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: var(--primary);
            padding-bottom: 5px;
            border-bottom: 1px solid transparent;
            display: inline-block;
            transition: all 0.5s;

            .number {
                color: var(--theme);
            }
        }
    }

    .tab-content {
        margin-top: 41px;
    }
}


.project-wrapper {
    .swiper {
        overflow: visible;
    }
}

.project-box {
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    &:hover {
        .content-wrapper {
            opacity: 1;
        }

    }

    .thumb {
        img {
            width: 100%;
        }
    }

    .content-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        z-index: 1;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #190F31;
            top: 0;
            left: 0;
            opacity: 88%;
            z-index: -1;
        }

    }

    .title {
        font-family: var(--font_generalsanssemibold);
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: var(--white);

        a:hover {
            color: var(--white-2);
        }
    }

    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        max-width: 405px;
        margin-inline: auto;
        margin-top: 16px;
        color: var(--white);
    }

    .rr-btn {
        padding: 16px 37px;
        margin-top: 33px;
        margin-inline: auto;
    }
}


/* project-2 area style  */
.project-2-area {
    background-color: #EFF1F9;
    margin: 0 30px;
    border: 10px solid var(--white);
    border-radius: 20px;

    @media #{$xl} {
        margin: 0 15px;
        border-width: 5px;
    }

    @media #{$sm} {
        border-width: 2px;
    }
}

.project-2-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.project-2-wrapper-box {
    margin-top: 59px;
}

.project-2-wrapper {
    position: relative;
}

.project-2-nav {
    @media #{$xxl} {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 40px;

    }

    @media #{$lg} {
        margin-top: 30px;
    }
}

.project-2-nav-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--theme);
    background: var(--white);
    box-shadow: 0px 18px 66px 3px rgba(107, 111, 118, 0.15);

    transition: all 0.3s;

    @media #{$lg} {
        width: 50px;
        height: 50px;
    }

    &:hover {
        border-color: transparent;
        background-color: var(--theme);
        color: var(--white);
        box-shadow: none;
    }
}



.project-2-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 40px);

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}

.project-2-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 40px);

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}

.project-2-box {
    background-color: var(--white);
    padding: 30px 30px 24px;
    border-radius: 15px;
    transition: all 0.5s;

    @media #{$xxl} {
        padding: 20px 20px 19px;
    }

    &:hover {
        box-shadow: 0px 18px 28px 3px rgba(23, 27, 33, 0.08);

        .thumb {
            &:before {
                opacity: 1;
            }

            .action-btn {
                opacity: 1;
                top: 50%;

            }
        }
    }

    .thumb {
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: var(--theme);
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            opacity: 0;
            transition: all 0.5s;
        }

        img {
            width: 100%;
        }

        .action-btn {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.5s;
            opacity: 0;
        }
    }

    .circle-arrow-btn {
        width: 60px;
        height: 60px;
        background-color: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--theme);
        font-size: 18px;


        &:hover {
            color: var(--black);

            i {
                transform: rotate(0);
            }
        }

        i {
            transform: rotate(-45deg);
            transition: all 0.3s;

        }
    }

    .content {
        margin-top: 27px;
    }

    .subtitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        color: var(--theme);
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33;
        margin-top: 6px;

        @media #{$xs} {
            font-size: 20px;
        }
    }

    .text {
        margin-top: 13px;
    }
}


/* project-3 area style  */
.project-3-wrapper {
    display: grid;
    gap: 24px 24px;
    grid-template-columns: repeat(2, 1fr);

    @media #{$sm} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.project-3-box {
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(10, 10, 13, 0) 0%, #1B0A2C 73.94%);
        top: 0;
        left: 0;
        opacity: 0.75;
        z-index: 1;
    }

    &:hover {
        .area-bg {
            opacity: 1;
            top: 0;
            left: 0;
        }

        .btn-wrapper {
            margin-bottom: 0;
        }
    }

    .area-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -50px;
        left: -50px;
        z-index: 2;
        opacity: 0;
        transition: all 0.5s;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .thumb {
        img {
            width: 100%;
        }
    }

    .content-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 50px;
        display: flex;
        align-items: flex-end;
        z-index: 3;

        @media #{$lg} {
            padding: 30px;
        }

        @media #{$xs} {
            padding: 20px;
        }
    }

    .content {
        overflow: hidden;
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42;
        color: var(--white);
        text-transform: uppercase;

        @media #{$lg} {
            font-size: 18px;
        }

        @media #{$xs} {
            font-weight: 600;
            font-size: 16px;

        }

        a:hover {
            color: var(--white-2);
        }
    }

    .btn-wrapper {
        margin-bottom: -80px;
        transition: all 0.5s;

        @media #{$lg} {
            margin-bottom: 0;
        }
    }

    .rr-btn {
        margin-top: 22px;
        padding: 16px 32px;
    }
}

.project-3-footer {
    text-align: center;
    margin-top: 60px;

    @media #{$xxl} {
        margin-top: 50px;
    }

    @media #{$lg} {
        margin-top: 40px;
    }

    .pagination-wrapper {
        text-align: center;
    }
}

.rr-pagination {
    display: inline-flex;
    gap: 10px;

    a {
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        border-radius: 50%;
        color: var(--black);
        font-weight: 700;
        font-size: 16px;

        &:hover {
            background-color: var(--theme);
            color: var(--white);
        }
    }
}

/* project-details area style  */
.project-details-thumb-wrapper {
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 386px;

    @media #{$md} {
        grid-template-columns: 1fr;

    }
}

.project-details-thumb {
    border-radius: 20px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 200px;
    }
}


.project-details-meta {
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 20px;
    padding: 40px 40px 44px;

    @media #{$lg} {
        padding: 20px 20px 24px;
    }

    .meta-block-title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 1.21;
    }

    .meta-wrapper {
        margin-top: 29px;
    }

    .meta-box {
        display: flex;
        gap: 20px;
        align-items: flex-start;

        &:not(:first-child) {
            margin-top: 24px;
            border-top: 1px solid var(--border);
            padding-top: 21px;
        }

        .icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            background-color: rgba(100, 33, 255, 0.1);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--theme);
            margin-top: 3px;
        }

        .title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }

        .text {
            font-family: var(--font_inter);
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: var(--black);
            margin-top: 5px;
        }
    }
}

.project-details-thumb-wrapper+.proeject-details-info {
    margin-top: 43px;
}

.proeject-details-info {
    margin-top: 56px;

    .info-title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 30px;
        line-height: 1.2;

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .text-wrapper {
        margin-top: 16px;
        display: grid;
        gap: 26px;
    }

    .gallery-wrapper {
        margin-top: 43px;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;

        }

        @media #{$xs} {
            grid-template-columns: 1fr;

        }

        img {
            border-radius: 20px;
        }
    }
}

/* project-4 area style  */
.project-4-header {
    display: grid;
    gap: 25px 60px;
    grid-template-columns: 1fr auto;
    align-items: flex-end;

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    .title-wrapper {
        margin-top: 19px;
    }

    .btn-wrapper {
        margin-bottom: 11px;

        @media #{$md} {
            margin-bottom: 0;
        }
    }
}

.project-4-wrapper-box {
    margin-top: 59px;
}

/* project-5 area style  */
.project-5-area {
    margin: 0 40px;
    border: 10px solid var(--white);
    border-radius: 20px;
    filter: drop-shadow(0px 11px 30px rgba(24, 11, 37, 0.1));
    overflow: hidden;

    @media #{$xl} {
        margin: 0 15px;
        border-width: 5px;
    }

    @media #{$sm} {
        border-width: 2px;
    }
}

.project-5-area {
    position: relative;
    z-index: 1;
}

.project-5-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EBEBF5;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(235, 235, 245, 0.61);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project-5-area-inner {
    position: relative;
    z-index: 1;

    .area-shape-1 {
        position: absolute;
        bottom: 0;
        left: -204px;
        z-index: -1;
    }
}


.project-5-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.project-5-wrapper-box {
    margin-top: 58px;
}

.project-5-active {
    @media #{$lg} {
        overflow: visible;
    }

    .swiper-slide-duplicate-next .project-5-box {
        transform: scale(0.74);
        transform-origin: right;

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-prev .project-5-box {
        transform: scale(0.74);
        transform-origin: right;

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-active .project-5-box {
        .content-wrapper {
            opacity: 1;
        }
    }

    .swiper-slide-next .project-5-box {
        transform: scale(0.74);
        transform-origin: left;

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-duplicate-prev .project-5-box {
        transform: scale(0.74);
        transform-origin: left;

        @media #{$md} {
            transform: none;
        }
    }

}

.project-5-pagination {

    &.swiper-pagination-progressbar {
        position: relative;
        height: 7px;
        width: 560px;
        margin-top: 60px;
        background-color: var(--white);
        border-radius: 10px;
        margin-inline: auto;

        @media #{$lg} {
            width: 470px;
            margin-top: 40px;
        }

        @media #{$sm} {
            width: 100%;
        }
    }

    .swiper-pagination-progressbar-fill {
        background: var(--theme);
        border-radius: 10px;
    }
}

.project-5-wrapper {
    position: relative;
}

.project-5-nav {
    @media #{$xxl} {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 40px;

    }

    @media #{$lg} {
        margin-top: 30px;
    }
}

.project-5-nav-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--theme);
    background: var(--white);
    box-shadow: 0px 12px 19px rgba(20, 8, 33, 0.05);
    transition: all 0.3s;

    @media #{$lg} {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    &:hover {
        border-color: transparent;
        background-color: var(--theme);
        color: var(--white);
        box-shadow: none;
    }
}



.project-5-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% - 40px);
    z-index: 1;

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}

.project-5-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 40px);
    z-index: 1;

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}

.project-5-box {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all 0.9s;

    &:hover {
        .content-wrapper {
            opacity: 1;
        }

    }

    .thumb {
        img {
            width: 100%;
        }
    }

    .content-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: all 0.5s;
        z-index: 1;

        @media #{$xs} {
            padding: 15px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(23, 13, 45, 0.79);
            top: 0;
            left: 0;
            z-index: -1;
        }

    }

    .content {
        background-color: var(--white);
        border-radius: 20px;
        padding: 29px 30px 31px;
        width: 100%;

        @media #{$xs} {
            padding: 24px 15px 26px;

        }
    }

    .title {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;

        @media #{$xs} {
            font-size: 20px;
        }

        a:hover {
            color: var(--black-2);
        }
    }

    .tag {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin-top: 8px;
    }

    .details-btn {
        width: 107px;
        height: 107px;
        background-color: var(--theme);
        border-radius: 100%;
        font-size: 24px;
        color: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;

        @media #{$xs} {
            width: 50px;
            height: 50px;
            font-size: 16px;
        }
    }
}