/* story css */
/* story area style  */
.story-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .section-title {
        color: var(--white);
        max-width: 890px;
        margin-inline: auto;
    }
}

.story-thumb-wrapper {
    margin-top: 59px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;

    .play-button {
        width: 80px;
        height: 80px;
        background-color: var(--white);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--theme);
        border-radius: 50%;
        position: relative;
        z-index: 1;

        &:hover {
            background-color: var(--theme);
            color: var(--white);
        }

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.50);
            animation-name: popupBtn;
            animation-duration: 1.8s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            z-index: -1;
        }

        @keyframes popupBtn {
            0% {
                transform: scale(1);
                opacity: 0.6;
            }

            50% {
                transform: scale(1.25);
                opacity: 0.3;
            }

            100% {
                transform: scale(1.5);
                opacity: 0;
            }
        }
    }
}

/* story-2 area style  */
.story-2-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .section-title {
        max-width: 890px;
        margin-inline: auto;
    }
}

.story-2-thumb-wrapper-box {
    margin-top: 59px;
    position: relative;
    z-index: 1;
}

.story-2-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.story-2-thumb-wrapper {
    border-radius: 25px;
    max-width: 1040px;
    margin-inline: auto;
    box-shadow: 0px 36px 68px 2px rgba(15, 19, 46, 0.07);
    border: 10px solid var(--white);
    position: relative;
    overflow: hidden;

    @media #{$lg} {
        border-radius: 20px;
        border-width: 5px;
    }

    img {
        width: 100%;
    }
}

.story-2-thumb {
    position: relative;
    overflow: hidden;

    &:before {
        position: absolute;
        content: "";
        background: linear-gradient(180deg, rgba(16, 20, 28, 0) 0%, rgba(17, 20, 27, 0.85) 100%);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-height: 200px;
    }

    .story-video-btn {
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: var(--theme);
        color: var(--white);
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            background-color: var(--white);
            color: var(--theme);

            .icon {
                background-color: var(--theme);
                color: var(--white);
            }
        }

        .text {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            padding: 0px 30px 0px 40px;
            display: inline-block;
            text-transform: uppercase;
        }

        .icon {
            font-size: 24px;
            color: var(--theme);
            padding: 10px;
            width: 60px;
            height: 60px;
            background-color: var(--white);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
        }

    }
}