/* team css */
/* team area style  */
.team-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.team-wrapper-box {
    margin-top: 59px;
}

.team-wrapper {
    display: grid;
    gap: 24px 24px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.team-box {
    border: 1px solid #E7E0F2;
    border-radius: 20px;
    padding: 30px 30px 32px;

    @media #{$lg} {
        padding: 10px 10px 22px;
    }

    &.rr-bg-white {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
    }

    .thumb {
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }



    .social {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        &:hover {
            .social-link {
                transform: translateX(-50%) scale(1);
                opacity: 1;
            }

            .bg-shape {
                transform: translateX(-50%) scale(5);
            }


            .share-icon {
                opacity: 0;
            }
        }

        .social-link {
            display: flex;
            gap: 7px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) scale(0.2);
            opacity: 0;
            transition: all 0.5s;

            a {
                width: 40px;
                height: 40px;
                background-color: var(--white);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: var(--theme);

                &:hover {
                    background-color: var(--theme);
                    color: var(--white);
                }
            }

        }

        .bg-shape {
            position: absolute;
            content: "";
            width: 162px;
            height: 162px;
            background-color: #140A4A;
            border-radius: 50%;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            opacity: 0.75;
            transition: all 0.5s;
        }

        .share-icon {
            width: 40px;
            height: 40px;
            background-color: var(--white);
            color: var(--theme);
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all 0.5s;
        }
    }


    .content {
        text-align: center;
        margin-top: 24px;

        @media #{$lg} {
            margin-top: 14px;
        }
    }

    .name {
        font-family: var(--font_inter);
        font-size: 24px;
        line-height: 1.2;
        font-weight: 700;

        @media #{$lg} {
            font-size: 20px;
        }
    }

    .post {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: var(--theme);
    }
}

/* team-2 area style  */
.team-2-wrapper {
    display: grid;
    gap: 24px 24px;
    grid-template-columns: repeat(4, 1fr);

    @media #{$md} {
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$xs} {
        grid-template-columns: repeat(1, 1fr);
    }
}

.team-2-footer {
    margin-top: 60px;

    @media #{$xxl} {
        margin-top: 50px;
    }

    @media #{$lg} {
        margin-top: 40px;
    }

    .btn-wrapper {
        text-align: center;
    }

    .rr-btn {
        background-color: var(--white);
        border-color: #E7E0F2;

        &:hover {
            .text-two {
                color: var(--white);
            }
        }

        &:before {
            background-color: var(--theme);
        }

        .text-one {
            color: var(--black);
        }
    }

}


/* team-details area style  */
.team-details-wrapper {
    background-color: var(--white);
    padding: 60px;
    border-radius: 20px;
    display: grid;
    gap: 30px 50px;
    grid-template-columns: 410px 1fr;
    align-items: flex-start;

    @media #{$lg} {
        padding: 20px;
        grid-template-columns: 310px 1fr;
    }

    @media #{$md} {
        padding: 20px;
        grid-template-columns: 1fr;
    }

}

.team-details-thumb {
    border-radius: 15px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.team-details-content {
    margin-top: 11px;

    .name {
        font-family: var(--font_inter);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.22;

        @media #{$lg} {
            font-size: 30px;

        }

        @media #{$sm} {
            font-size: 24px;

        }
    }

    .post {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: inline-block;
        color: var(--theme);
        margin-top: 8px;
    }

    .text-wrapper {
        margin-top: 19px;
        display: grid;
        gap: 26px;
    }

    .cta-list {
        margin-top: 33px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media #{$sm} {
            grid-template-columns: 1fr;
        }
    }

    .cta-box {
        border: 1px solid var(--border);
        border-radius: 15px;
        padding: 25px;
        display: flex;
        gap: 16px;
        align-items: center;
        transition: all 0.3s;

        @media #{$lg} {
            padding: 10px;
        }

        &:hover {
            box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.07);

        }

        .icon {
            width: 55px;
            min-width: 55px;
            height: 55px;
            background-color: #F1EEF4;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: var(--black);
        }

        .link {
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: var(--black);

            @media #{$lg} {
                font-size: 18px;
            }

            a:hover {
                color: var(--black-2);
            }
        }
    }

    .social {
        margin-top: 45px;

        @media #{$lg} {
            margin-top: 25px;
        }
    }

    .social-link {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        a {
            width: 40px;
            height: 40px;
            background-color: #F2F2F3;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--theme);
            font-size: 14px;

            &:hover {
                background-color: var(--theme);
                color: var(--white);
            }
        }
    }
}

/* team-3 area style  */
.team-3-area {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.team-3-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #EFF1F8;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-3-area-inner {
    position: relative;
}

.team-3-shape-1 {
    position: absolute;
    z-index: -1;
    top: -33px;
    left: -485px;


}

.team-3-shape-2 {
    position: absolute;
    z-index: -1;
    top: 134px;
    right: -102px;
    transform: rotate(-45deg);

    img {
        animation: t-SlideBottom 6s infinite;
    }
}

.team-3-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }

    .text-wrapper {
        margin-top: 32px;

        .text {
            max-width: 646px;
            margin-inline: auto;
        }
    }


}


.team-3-wrapper-box {
    margin-top: 63px;
}

.team-3-wrapper {
    position: relative;
}

.team-3-nav {
    @media #{$xxl} {
        display: none;
    }


}

.team-3-nav-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--theme);
    background: var(--white);
    transition: all 0.3s;

    @media #{$lg} {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }

    &:hover {
        border-color: transparent;
        background-color: var(--theme);
        color: var(--white);
        box-shadow: none;
    }
}



.team-3-button-prev {
    position: absolute;
    bottom: 149px;
    right: calc(100% + 85px);

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}

.team-3-button-next {
    position: absolute;
    bottom: 149px;
    left: calc(100% + 85px);

    @media #{$xxl} {
        position: static;
        transform: none;
    }
}


.team-3-active {

    .swiper-slide-duplicate-next .team-3-box {
        transform: translate(0px, 89px) rotate(-5deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-prev .team-3-box {
        transform: translate(10px, 89px) rotate(-5deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-active .team-3-box {
        border-color: transparent;
        background-color: var(--theme);

        .name {
            color: var(--white);
        }

        .post {
            color: var(--white);
        }

        .social-link {

            a:hover {
                background-color: var(--white-2);
                color: var(--theme);
            }

        }
    }

    .swiper-slide-next .team-3-box {
        transform: translate(-10px, 89px) rotate(5deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-duplicate-prev .team-3-box {
        transform: translate(0px, 89px) rotate(5deg);

        @media #{$md} {
            transform: none;
        }
    }
}

.team-3-box {
    border: 1px solid var(--white);
    background-color: #D8DFF4;
    border-radius: 1000px 1000px 0 0;
    padding: 54px 54px 40px;
    transition: all 0.9s;

    @media #{$lg} {
        padding: 14px 14px 20px;
    }



    .thumb {
        position: relative;
        border-radius: 1000px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }



    .content {
        text-align: center;
        margin-top: 33px;

        @media #{$lg} {
            margin-top: 23px;
        }
    }

    .name {
        font-family: var(--font_inter);
        font-size: 30px;
        line-height: 1.2;
        font-weight: 700;

        @media #{$lg} {
            font-size: 24px;
        }
    }

    .post {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        color: var(--theme);
        margin-top: 10px;
    }

    .social-link {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 26px;

        @media #{$lg} {
            gap: 7px;
        }

        a {
            width: 45px;
            height: 45px;
            background-color: var(--white);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--theme);

            @media #{$lg} {
                width: 40px;
                height: 40px;
            }

            &:hover {
                background-color: var(--theme);
                color: var(--white);
            }
        }

    }
}