/* testimonial css */
/* testimonial area style  */
.testimonial-area {
    position: relative;
    z-index: 1;
}

.testimonial-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EBEBF5;
    top: 0;
    left: 0;
    z-index: -1;

    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(235, 235, 245, 0.61);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.testimonial-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.testimonial-wrapper-box {
    margin-top: 58px;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonial-active {
    overflow: visible;

    .swiper-slide-duplicate-next .testimonial-item {
        transform: translate(0px, 53px) rotate(-12deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-prev .testimonial-item {
        transform: translate(0px, 53px) rotate(-12deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-next .testimonial-item {
        transform: translate(0px, 53px) rotate(12deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-slide-duplicate-prev .testimonial-item {
        transform: translate(0px, 53px) rotate(12deg);

        @media #{$md} {
            transform: none;
        }
    }

    .swiper-pagination-progressbar {
        position: relative;
        height: 7px;
        width: 560px;
        margin-top: 50px;
        background-color: var(--white);
        border-radius: 10px;
        margin-inline: auto;

        @media #{$lg} {
            width: 470px;
        }

        @media #{$sm} {
            width: 100%;
        }
    }

    .swiper-pagination-progressbar-fill {
        background: var(--theme);
        border-radius: 10px;
    }
}


.testimonial-item {
    background-color: var(--white);
    border-radius: 30px;
    padding: 50px 50px;
    filter: drop-shadow(0px 19px 32px rgba(23, 19, 37, 0.06));
    transition: all 0.9s;

    @media #{$lg} {
        padding: 30px 30px;
    }

    @media #{$sm} {
        padding: 20px 20px;
    }


    .author {
        display: flex;
        gap: 20px 25px;
        align-items: center;
        flex-wrap: wrap;

        @media #{$sm} {
            gap: 20px 20px;
        }
    }

    .avatar {
        width: 90px;
        min-width: 90px;
        height: 90px;
        border-radius: 50%;
        overflow: hidden;

        @media #{$sm} {
            width: 70px;
            min-width: 70px;
            height: 70px;
        }
    }

    .name {
        font-family: var(--font_generalsanssemibold);
        font-weight: 600;
        font-size: 22px;
        line-height: 1;
    }

    .post {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--theme);
        margin-top: 5px;
    }


    .text-wrapper {
        margin-top: 32px;
    }

    .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #4B4D50;
    }


    .icon-n-rating {
        margin-top: 27px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .rating {
        font-size: 16px;
        color: var(--theme);
        border: 1px solid #E2E2E2;
        border-radius: 50px;
        padding: 14px 19px;
        display: inline-flex;
        gap: 2px;
    }
}


/* testimonial-2 area style  */
.testimonial-2-area {
    position: relative;
    z-index: 1;
}

.testimonial-2-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EBEBF5;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .area-shape-1 {
        width: 36%;
        position: absolute;
        top: -33px;
        right: -4%;

        img {
            animation: t-SlideBottom 6s infinite;
        }
    }
}

.testimonial-2-header {
    text-align: center;

    .title-wrapper {
        margin-top: 19px;
    }
}

.testimonial-2-wrapper-box {
    margin-top: 59px;
}

.testimonial-2-item {
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px 40px 0;
    display: flex;
    gap: 20px 40px;

    @media #{$lg} {
        padding: 30px 30px 0;
        gap: 20px 30px;
    }

    @media #{$sm} {
        flex-direction: column;
        padding: 20px 20px 0;
    }

    .avatar {
        width: 270px;
        min-width: 270px;
        height: 292px;
        position: relative;

        @media #{$md} {
            width: 190px;
            min-width: 190px;
            height: 252px;
        }

        @media #{$sm} {
            width: 150px;
            min-width: 150px;
            height: 182px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1000px 1000px 0 0;
        }
    }

    .icon {
        width: 64px;
        height: 64px;
        background-color: var(--theme);
        border: 8px solid var(--white);
        border-radius: 50px;
        font-size: 22px;
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        left: 10px;

        @media #{$sm} {
            width: 44px;
            height: 44px;
            border-width: 3px;
            font-size: 16px;
            top: 0;
            left: 0;
        }
    }

    .content {
        margin-top: 2px;
    }

    .name {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.33;
    }

    .post {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: var(--theme);
        margin-top: 5px;
        text-transform: uppercase;
        display: inline-block;
    }


    .text-wrapper {
        margin-top: 18px;
    }

    .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.55;

        @media #{$lg} {
            font-size: 16px;
        }
    }

    .review-box {
        display: flex;
        gap: 10px 15px;
        padding-top: 20px;
        border-top: 1px solid var(--border);
        margin-top: 23px;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .site-review {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: var(--black);
        background-color: #F5F5F5;
        border: 1px solid #EBECF5;
        padding: 6px 12px;
        border-radius: 30px;
        display: inline-flex;
        gap: 8px;
        align-items: center;
    }

    .google-review {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: var(--theme);
        background-color: #E5EEFF;
        border: 1px solid transparent;
        padding: 6px 12px;
        border-radius: 30px;
        display: inline-flex;
        gap: 8px;
        align-items: center;
    }
}

/* testimonial-4 area style  */
.testimonial-4-header {
    display: grid;
    gap: 25px 60px;
    grid-template-columns: 1fr auto;
    align-items: flex-end;

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    .title-wrapper {
        margin-top: 19px;
    }

    .testimonial-4-nav {
        margin-bottom: 11px;

        @media #{$md} {
            margin-bottom: 0;
        }
    }
}


.testimonial-4-wrapper-box {
    margin-top: 59px;

    @media #{$lg} {
        margin-top: 39px;
    }
}


.testimonial-4-nav {
    display: flex;
    gap: 10px;
}

.testimonial-4-nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--theme);
    background: var(--white);
    transition: all 0.3s;

    &:hover {
        background-color: var(--theme);
        color: var(--white);
    }
}

.testimonial-4-item {
    background-color: var(--white);
    border-radius: 20px;
    padding: 60px 60px;
    display: grid;
    gap: 30px 40px;
    grid-template-columns: 266px 1fr;
    align-items: flex-start;

    @media #{$xxl} {
        padding: 40px 40px;
    }

    @media #{$md} {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    .avatar-big {
        border-radius: 20px;
        overflow: hidden;

        @media #{$md} {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .text-wrapper {
        margin-top: -11px;
    }

    .text {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.58;
        color: var(--black);

        @media #{$lg} {
            font-size: 20px;
        }

        @media #{$sm} {
            font-size: 18px;
        }
    }

    .author-box {
        border-top: 1px solid var(--border);
        margin-top: 30px;
        padding-top: 40px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr auto;
        align-items: center;

        @media #{$lg} {
            padding-top: 30px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        .icon {
            @media #{$xs} {
                display: none;
            }
        }
    }

    .author {
        display: flex;
        gap: 20px;
        align-items: center;

        .avatar {
            width: 70px;
            min-width: 70px;
            height: 70px;
            border-radius: 50%;
            overflow: hidden;

            @media #{$xs} {
                width: 50px;
                min-width: 50px;
                height: 50px;
            }
        }

        .name {
            font-family: var(--font_inter);
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }

        .post {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: inline-block;
        }
    }
}

/* testimonial-3 area style  */
.testimonial-3-header {
    display: grid;
    gap: 25px 60px;
    grid-template-columns: 1fr auto;
    align-items: flex-end;

    @media #{$md} {
        grid-template-columns: 1fr;
    }

    .title-wrapper {
        margin-top: 19px;
    }

    .btn-wrapper {
        margin-bottom: 11px;

        @media #{$md} {
            margin-bottom: 0;
        }
    }
}

.testimonial-3-wrapper-box {
    margin-top: 59px;
}

.testimonial-3-wrapper {
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: "";
        width: 971px;
        height: 220px;
        right: -10px;
        top: 48px;
        background: rgba(100, 33, 255, 0.6);
        filter: blur(90px);
        z-index: -1;

        @media #{$lg} {
            width: 671px;
        }

        @media #{$xs} {
            width: 100%;
            height: 320px;
            top: auto;
            bottom: 150px;
        }
    }
}

.testimonial-3-box {
    display: grid;
    gap: 20px 60px;
    align-items: flex-start;
    grid-template-columns: 1fr 920px;

    @media (max-width:1300px) {
        gap: 20px 40px;
        grid-template-columns: 1fr 700px;

    }

    @media #{$lg} {
        gap: 20px 40px;
        grid-template-columns: 1fr 700px;

    }

    @media #{$md} {
        grid-template-columns: 1fr 380px;
    }

    @media #{$sm} {
        grid-template-columns: 1fr 310px;
        gap: 20px 20px;
    }

    @media #{$xs} {
        grid-template-columns: 1fr;
    }

    .thumb-wrapper {
        background-color: #ddd;
        border-radius: 20px;
        padding: 50px 50px 36px;
        text-align: center;
        box-shadow: 0px 4px 12px rgba(40, 15, 66, 0.1);
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$lg} {
            padding: 20px 20px 16px;
        }

        &:before {
            position: absolute;
            content: "";
            width: 582px;
            height: 204px;
            left: 50%;
            transform: translateX(-50%);
            top: -55px;
            background: #6421FF;
            filter: blur(90px);
            z-index: -1;
        }

        .thumb {
            border: 5px solid var(--white);
            border-radius: 20px;
            overflow: hidden;
            aspect-ratio: 100/83;

            @media #{$lg} {
                border-width: 2px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }
        }

        .meta {
            margin-top: 23px;
        }

        .name {
            font-family: var(--font_inter);
            font-weight: 700;
            font-size: 24px;
            line-height: 1.25;

            @media #{$lg} {
                font-size: 20px;
            }
        }

        .post {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: inline-block;
            color: var(--theme);
            margin-top: 6px;
        }

    }

    .content {
        background-color: var(--white);
        position: relative;
        border-radius: 20px;
        padding: 30px 40px 30px;
        z-index: 1;

        @media #{$lg} {
            padding: 20px 20px 20px;
        }

        .text {
            font-weight: 600;
            font-size: 22px;
            line-height: 1.63;
            color: var(--black);

            @media #{$lg} {
                font-size: 18px;
            }
        }
    }
}

.testimonial-3-thumb {
    width: 920px;
    height: 180px;
    position: absolute;
    bottom: 0;
    right: 0;

    @media #{$xl} {
        height: 140px;
    }

    @media (max-width: 1300px) {
        width: 700px;
    }

    @media #{$lg} {
        width: 700px;
        height: 110px;
    }

    @media #{$md} {
        position: static;
        width: 100%;
        margin-top: 30px;
    }
}

.swiper-slide-thumb-active {

    .testimonial-3-nav-thumb {
        border-color: var(--theme);
    }
}

.testimonial-3-nav-thumb {
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid var(--border);
    padding: 10px;
    height: 100%;
    transition: all 0.9s;

    @media #{$lg} {
        border-radius: 10px;
        padding: 5px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        object-position: top left;
    }
}